body{
    background-color: rgb(255, 0, 136);
    color: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(53, 0, 40);
    padding: 20px;
    font-size: 32px;
    color: rgba(199, 0, 149, 0.418);
}

section {
    background: rgb(236, 167, 225);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}